/* Referencing: https://programandosolucoes.dev.br/2021/06/22/card-html-css/ */
body {
  background-color: rgba(1, 1, 1, 0.5);
  background-image: url('https://scitechdaily.com/images/Vast-Universe-Concept.gif');
  font-family: Verdana , Geneva , Tahoma , sans-serif;
}

.cardMission {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 20px;
  padding: 30px;
  transition: all 0.3s ease-out;
  width: 150px;
}

.cardMission:hover {
  background-color: black;
  cursor: pointer;
  transform: translateY(-5px);
}

.cardPlanet:hover {
  background-color: black;
  cursor: pointer;
  transform: translateY(-5px);
  transition: all 0.3s ease-out;
}

header {
  color: orange;
  font-size: 25px;
  text-align: center;
}

h3 {
  color: gold;
  text-align: center;
  font-size: 25px;
}

h4 {
  color: khaki;
  font-size: 20px;
  text-align: center;
}

img {
  width: 250px;
}

p {
  color: white;
  font-size: 18px;
  text-align: left;
}

.planets {
  background-color: rgba(0, 0, 0, 0.5);
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
}
